@keyframes pulse{

0%{
transform:scale(1);
opacity:1;
}

50%{
transform:scale(1.05);
opacity:.7;
}

100%{
transform:scale(1);
opacity:1;
}

}

@keyframes shakeGift{

0%{
transform:rotate(0deg);
}

20%{
transform:rotate(-4deg);
}

40%{
transform:rotate(4deg);
}

60%{
transform:rotate(-3deg);
}

80%{
transform:rotate(3deg);
}

100%{
transform:rotate(0deg);
}

}

.gift{

animation:shakeGift 2.5s infinite;

transform-origin:center bottom;

transition:.4s;

}

.gift:hover{

transform:scale(1.05);

}

@keyframes fadeOut{

to{

opacity:0;
visibility:hidden;

}

}

.hideLoader{

animation:fadeOut .7s forwards;

}