/* ===================================
   PAGE FADE
=================================== */

.home{

    animation:fadePage 1.2s ease;

}

@keyframes fadePage{

    from{

        opacity:0;

        transform:translateY(25px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

/* ===================================
   LOGO FLOAT
=================================== */

.logo{

    animation:logoFloat 5s ease-in-out infinite;

}

@keyframes logoFloat{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-8px);

    }

    100%{

        transform:translateY(0);

    }

}

/* ===================================
   GIFT FLOAT
=================================== */

.gift-box{

    animation:giftFloat 3.2s ease-in-out infinite;

}

@keyframes giftFloat{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-10px);

    }

    100%{

        transform:translateY(0);

    }

}

/* ===================================
   HEARTS
=================================== */

.hearts span{

    animation:heartFloat 14s linear infinite;

}

@keyframes heartFloat{

    0%{

        transform:translateY(0) scale(.8);

        opacity:0;

    }

    15%{

        opacity:.35;

    }

    80%{

        opacity:.20;

    }

    100%{

        transform:translateY(-120vh) scale(1.5);

        opacity:0;

    }

}/* ===================================
   SPARKLES
=================================== */

.sparkles span{

    animation:twinkle 3s ease-in-out infinite;

}

.sparkles span:nth-child(2){

    animation-delay:.6s;

}

.sparkles span:nth-child(3){

    animation-delay:1.2s;

}

.sparkles span:nth-child(4){

    animation-delay:1.8s;

}

.sparkles span:nth-child(5){

    animation-delay:2.4s;

}

@keyframes twinkle{

    0%{

        opacity:.2;

        transform:scale(.6);

    }

    50%{

        opacity:1;

        transform:scale(1.6);

    }

    100%{

        opacity:.2;

        transform:scale(.6);

    }

}

/* ===================================
   HINT
=================================== */

.hint{

    animation:hintGlow 2.5s ease-in-out infinite;

}

@keyframes hintGlow{

    0%{

        opacity:.45;

    }

    50%{

        opacity:1;

    }

    100%{

        opacity:.45;

    }

}

/* ===================================
   ENVELOPE
=================================== */

.envelope{

    animation:envelopeFloat 3.5s ease-in-out infinite;

}

@keyframes envelopeFloat{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-6px);

    }

    100%{

        transform:translateY(0);

    }

}

/* ===================================
   HOVER EFFECTS
=================================== */

#giftBox:hover{

    transform:scale(1.05);

}

.envelope:hover{

    transform:translateY(-8px) scale(1.03);

}

.logo:hover{

    transform:scale(1.04);

}