/* ===== RESET ===== */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#FAF8F3;
font-family:"Alexandria",sans-serif;

overflow:hidden;

color:#222;

}

/* ===== BACKGROUND ===== */

.background{

position:fixed;

inset:0;

background:
radial-gradient(circle at top,#ffffff,#faf8f3);

z-index:-1;

}

/* ===== MAIN ===== */

.home{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

padding:20px;

}

/* ===== LOGO ===== */

.logo{

width:120px;

margin-bottom:25px;

}

/* ===== TITLE ===== */

h1{

font-family:"Cormorant Garamond",serif;

font-size:54px;

font-weight:700;

color:#B88A1A;

}

.subtitle{

margin-top:8px;

font-size:18px;

color:#777;

}

/* ===== GIFT ===== */

.gift-section{

margin-top:70px;

}

#giftBox{

cursor:pointer;

}

/* جسم الصندوق */

.gift-box{

position:relative;

width:170px;

height:170px;

}

/* القاعدة */

.gift-body{

position:absolute;

bottom:0;

width:170px;

height:120px;

background:white;

border-radius:10px;

box-shadow:
0 25px 50px rgba(0,0,0,.12);

}

/* الغطاء */

.gift-lid{

position:absolute;

top:18px;

left:-5px;

width:180px;

height:35px;

background:white;

border-radius:10px;

z-index:5;

box-shadow:
0 8px 20px rgba(0,0,0,.08);

}

/* الشريط الرأسي */

.gift-ribbon-v{

position:absolute;

left:77px;

top:18px;

width:16px;

height:152px;

background:#C9A227;

z-index:8;

}

/* الشريط الأفقي */

.gift-ribbon-h{

position:absolute;

top:52px;

width:170px;

height:16px;

background:#C9A227;

z-index:8;

}

/* النص */

.hint{

margin-top:60px;

font-size:18px;

color:#888;

font-weight:500;

}